body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 45%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.summary div {
  width: 50%;
  text-align: center;
}

.money.plus {
  color: green;
}

.money.minus {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
}

li {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-right: 5px solid;
  border-radius: 5px;
}

li.plus {
  border-color: green;
}

li.minus {
  border-color: red;
}

.delete-btn {
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background: #4338ca;
}

.forms {
  display: flex;
  gap: 10px;
}

.inline-form {
  width: 50%;
  padding: 30px;

}

.inline-form h4 {
  margin: 0 0 8px 0;
}
